.vscode/**
.vscode-test/**
src/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/*.test.js
**/.vscode-test.*
vendor/**
bin/**
.cursor/**
composer.*
USER_STORIES.md